<!DOCTYPE html>
<html>
<head>
    <title>AI Text Summarizer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🤖 AI Text Summarizer</h1>

    <form action="/summarize" method="POST" class="form-area">

        <textarea
            name="text"
            placeholder="Paste your paragraph here..."
        ></textarea>

        <button type="submit">
            Summarize
        </button>

    </form>

    {% if summary %}

    <div class="result-section">

        <div class="card">
            <h2>📄 Original Text</h2>
            <p>{{ original }}</p>
        </div>

        <div class="card">
            <h2>✨ Summary</h2>
            <p>{{ summary }}</p>
        </div>

    </div>

    <div class="score">
        Similarity Score: {{ similarity }}%
    </div>

    {% endif %}

</div>

</body>
</html>